<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.htlkaindorf.bigbrain">

    <application
        android:allowBackup="true"
        android:icon="@drawable/brain_emoji"
        android:label="@string/app_name"
        android:roundIcon="@drawable/brain_emoji"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigBrain"
        android:usesCleartextTraffic="true">
        <activity android:name=".gui.CreateLobbyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.GameFinishActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.RankingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.WaitingRoomActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.AllLobbiesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.UserActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.GameActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".gui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>